<div>
  <p>Current Value: {{ mySignal() | json }}</p>
  <button (click)="setNewValue()">Set New Value</button>
  <button (click)="updateValue()">Update Value</button>

  <p>Double Count: {{ doubleCountValue() }}</p>
  <p>Order Status: {{ orderStatus() }}</p>
  <p>Food Preparation Status: {{ prepareFoodValue() }}</p>

  <p>User Logged In: {{ userLoggedIn() }}</p>
  <p>Show Profile: {{ showProfileValue() }}</p>

  <p>Cart Item: {{ cartItemsSignal() }}</p>

  <p>Objects are equal: {{ (areObjectsEqual()) }}</p>
</div>
