main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 2rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav li {
  list-style: none;
}

 .nav a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
