<main class="main">
  <div class="navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/test/signals1']">Signals1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/test/reactive']">aaaaaa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/test/todos']">aaaaaa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/test/todos-basic']">aaaaaaa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/test/todos-reactive']">aaaaaaa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/test/selectors']">aaaaaa</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</main>
