<div class="bg-white rounded-lg shadow-md border border-gray-200 p-6">
  <h2 class="text-xl font-semibold text-gray-800 mb-2">Login form</h2>
  @let email = loginForm.email();
  @let password = loginForm.password();
  <form
    [formRoot]="loginForm"
    [class.is-invalid]="loginForm.email().touched() && loginForm.email().invalid()"
  >
    <input
      id="email"
      type="email"
      [formField]="loginForm.email"
      class="border border-gray-300 rounded-md p-2 me-2"
    />
    @if (email.touched() && email.invalid()) {
      @for (error of email.errors(); track error) {
        <p class="text-red-500">{{ error.message }}</p>
      }
    }
    <input
      id="password"
      type="password"
      [formField]="loginForm.password"
      class="border border-gray-300 rounded-md p-2 me-2"
    />
     @if (password.touched() && password.invalid()) {
      <p class="text-red-500">Invalid password</p>
      }
    <button type="submit" class="bg-blue-500 text-white rounded-md p-2">Login</button>
  </form>

  <pre>{{ loginForm().value() | json }}</pre>
  <pre>{{ model() | json }}</pre>
  <pre>{{ email.value() }}</pre>
</div>