<div class="bg-white rounded-lg shadow-md border border-gray-200 p-6">
  <h2 class="text-xl font-semibold text-gray-800 mb-2">Playground</h2>
  @let email = loginForm.email();
  @let password = loginForm.password();
  <form
    [formRoot]="loginForm"
    [class.is-invalid]="loginForm.email().touched() && loginForm.email().invalid()"
  >
    <input
      id="email"
      type="email"
      [formField]="loginForm.email"
      class="border border-gray-300 rounded-md p-2 me-2"
    />
    @if (email.touched() && email.invalid()) {
    <p class="text-red-500">Invalid email</p>
    }
    <input
      id="password"
      type="password"
      [formField]="loginForm.password"
      class="border border-gray-300 rounded-md p-2 me-2"
    />
     @if (password.touched() && password.invalid()) {
      <p class="text-red-500">Invalid password</p>
      }
    <button type="submit" class="bg-blue-500 text-white rounded-md p-2">Login</button>
  </form>

  <pre>{{ loginForm().value() | json }}</pre>
  <pre>{{ model() | json }}</pre>
  <pre>{{ email.value() }}</pre>

  <form [formRoot]="orderForm" class="mt-4">
    <label for="customerName" class="me-2">Customer</label>
    <input
      id="customerName"
      type="text"
      [formField]="orderForm.customerName"
      class="border border-gray-300 rounded-md p-2 mb-2 me-2"
    />
    @for (item of orderForm.items; track item) {
    <div class="mb-2">
      <label for="product" class="me-2">Product</label>
      <input
        id="product"
        type="text"
        [formField]="item.product"
        placeholder="Product"
        class="border border-gray-300 rounded-md p-2 me-2 mb-2"
      />
      @if(item.product().touched() && item.product().invalid()) {
        <span class="text-red-500">{{ item.product().errors()[0].message }}</span>
      }
      <label for="quantity" class="me-2">Quantity</label>
      <input
        id="quantity"
        type="number"
        [formField]="item.quantity"
        placeholder="Quantity"
        class="border border-gray-300 rounded-md p-2 me-2"
      />
      @if(item.quantity().touched() && item.quantity().invalid()) {
        <span class="text-red-500">{{ item.quantity().errors()[0].message }}</span>
      }
      <div class="text-red-500">
        @for(error of orderForm.items().errorSummary(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>
      <button
        type="button"
        (click)="removeItem($index)"
        class="bg-red-500 text-white rounded-md p-2"
      >
        Remove
      </button>
    </div>
    }
    <button
      type="button"
      (click)="addItem()"
      class="bg-green-500 text-white rounded-md p-2 mt-2 mb-2"
    >
      Add Item
    </button>
    @if (orderForm().submitting()) {
    <button type="submit" disabled class="bg-gray-500 text-white rounded-md p-2">
      Submitting...
    </button>
    } @else {
    <button type="submit" class="bg-blue-500 text-white rounded-md p-2">Save</button>
    }
  </form>

  <div>
    <span> Form state: </span>
    <span>
      @if(userForm().touched()) { Touched } @else { Untouched }
    </span>
    <span>
      @if(userForm().valid()) { Valid } @else { Invalid }
    </span>
    <span>
      @if(userForm().dirty()) { Dirty } @else { Pristine }
    </span>
  </div>
  <form [formRoot]="userForm" class="mt-4">
    <div class="mb-2">
      <label for="firstName" class="me-2">First Name</label>
      <input
        id="firstName"
        type="text"
        [formField]="userForm.firstName"
        class="border border-gray-300 rounded-md p-2 mb-2 me-2"
      />
      <div class="text-red-500">
        @for(error of userForm.firstName().errors(); track error) {
        <p>{{ error.message }}</p>
        }
      </div>
    </div>
    <div class="mb-2">
      <label for="lastName" class="me-2">Last Name</label>
      <input
        id="lastName"
        type="text"
        [formField]="userForm.lastName"
        class="border border-gray-300 rounded-md p-2 mb-2 me-2"
      />
      <div class="text-red-500">
        @for(error of userForm.lastName().errors(); track error) {
        <p>{{ error.message }}</p>
        }
      </div>
    </div>
    <div class="text-red-500">
      @for(error of userForm.address().errorSummary(); track error) {
      <p>{{ error.message }}</p>
      }
    </div>
    <div class="mb-2">
      @let addr = userForm.address;
      <label for="address" class="me-2">Address</label>
      <input
        id="address"
        type="text"
        [formField]="addr.street"
        class="border border-gray-300 rounded-md p-2 mb-2 me-2"
      />
      <label for="country" class="me-2">Country</label>
      <select [formField]="addr.country" id="country" class="border border-gray-300 rounded-md p-2 mb-2 me-2">
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="FR">France</option>
      </select>
      <label for="zip" class="me-2">Zip</label>
      <input
        id="zip"
        type="text"
        [formField]="addr.zip"
        placeholder="90210 or 10001"
        class="border border-gray-300 rounded-md p-2 mb-2 me-2"
      />
    </div>
    <div class="mb-2">
      <label for="cc" class="me-2">CC</label>
      <input
        id="cc"
        type="text"
        [formField]="userForm.cc"
        class="border border-gray-300 rounded-md p-2 mb-2 me-2"
      />
    </div>
    <div class="text-red-500">
      @for(error of userForm.cc().errors(); track error) {
      <p>{{ error.message }}</p>
      }
    </div>
    @if (userForm().submitting()) {
    <button type="submit" disabled class="bg-gray-500 text-white rounded-md p-2">
      Submitting...
    </button>
    } @else {
    <button type="submit" class="bg-blue-500 text-white rounded-md p-2">Save</button>
    }
    <button
      type="submit"
      [disabled]="userForm().submitting()"
      (click)="onSave()"
      class="bg-blue-500 text-white rounded-md p-2 ms-2"
    >
      Save Manually
    </button>
  </form>
  <pre>{{ userForm().errors() | json }}</pre>
</div>
